{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Page About us</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam unde cupiditate accusamus voluptatem officia adipisci.</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam unde cupiditate accusamus voluptatem officia adipisci.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam unde cupiditate accusamus voluptatem officia adipisci.</p>
    

  
</div>
{% endblock %}
