{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="page" style=" height: 711px; display:flex ; justify-content: center ; align-items: center">
    <form method="post">
        <h3 style=" color: #1B3168; font-size: 3em ; top: -90px ; position: relative ;">Connexion</h3>
        <div class="inputs" style="display:grid ; gap:40px ;">
            <div class="inputForm">
                <label for="inputEmail">email :</label>
                <input placeholder="Renseigner votre adresse mail" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus >
            </div>
            <div class="inputForm">
                <label for="inputPassword">mot de passe :</label>
                <input placeholder="Renseigner votre mot de passe" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
        </div>
        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <div class="buttons" style=" display: flex; position: relative; top: 40px; gap: 20px;" >
<<<<<<< HEAD
            <a href="\" class="btn">
=======
            <a href="home" class="btn">
>>>>>>> d4ecae080021988d4323899270f8509d35253118
                Retour
            </a>

            <button class="btn" type="submit">
                Connexion
            </button>
        </div>

        {% if error %}
<<<<<<< HEAD
            <div class="errorMessage" style="position: absolute; top: 565px ; color: red ">email ou mot de passe invalide</div>
=======
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
>>>>>>> d4ecae080021988d4323899270f8509d35253118
        {% endif %}


    </form>
</div>
{% endblock %}
