{% extends 'base.html.twig' %}

{% block title %}Accueil CSE St Vincent{% endblock %}

{% block body %}
<style>
</style>

<div class="example-wrapper">
    <ul>
        <li>Your controller at <code><a href="{{ '/home/qrulleau/Bureau/cours/2eme/symfony-project/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/qrulleau/Bureau/cours/2eme/symfony-project/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}