{% extends 'base.html.twig' %}

{% block title %}Accueil projet symfony!{% endblock %}

{% block body %}

<div class="d-flex">
  <div>
    <section>
      <div class="survey">
        <div class="background white">
          <h3 class="t-center">Votre avis compte</h3>
        </div>
        <p>Pour quel parc d’attraction  souhaiteriez-vous obtenir des prix ?</p>
        <div class="d-flex justify-start">
          <input type="radio" name="test" id="" value="le parc asterix"> 
          <label>le parc asterix</label>
        </div>
        <div class="d-flex justify-start">
          <input type="radio" name="test" id="" value="le parc disneyland"> 
          <label>le parc disneyland</label>
        </div>
        <div class="d-flex justify-start">
          <input type="radio" name="test" id="" value="le futoroscope"> 
          <label>le futoroscope</label>
        </div>
        <div class="d-flex background white">
          <a href="#">Voir les reponses</a>
          <a href="#">Valider</a>
        </div>
      </div>
    </section>
    <section>
      <h2>Accès rapide</h2>
      <a href="{{ path() }}">Offres permanentes / Billetterie</a>
      <a href="{{ path() }}">Nous contacter</a>
    </section>
  </div>
</div>


{% endblock %}
