{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h3>Partenariats</h3>

    <div class="d-flex partnership">


        {% for partner in partners %}
            <div class="brand">
                <img src="{{ asset( 'assets/partner/' ~ partner.image) }}"/>
                <div class="description background ">
                    <div class="description detail t-center white">
                        <h4>{{partner.name}}</h4>
                        <p>{{ partner.text }}</p>
                        <a href="{{ partner.link }}">En savoir plus</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
