{% extends 'baseBackoffice.html.twig' %}

{% block title %}Edit Content{% endblock %}

{% block body %}
    <h1>Edit Content</h1>

    {{ include('offer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_offer_index') }}">back to list</a>

    {{ include('offer/_delete_form.html.twig') }}
{% endblock %}