html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
 box-sizing: border-box;
 scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
}
footer input {
  background-color: #fff;
  border: none;
}
a, input {
  cursor: pointer;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t-center {
  text-align: center;
}
.direction-column {
  flex-direction: column;
}
.align-start {
  align-items: flex-start;
}
.text-right {
  text-align: right;
}
.justify-start {
  justify-content: flex-start;
}
.justify-around {
  justify-content: space-around;
}
.justify-end {
  justify-content: flex-end;
}
header .background,
.survey .background,
.status {
  background-color: #1B3168;
}
footer .background {
  background-color: #B6A886;
}
header a {
  padding: 46px 38px;
  font-size: 18px;
}
.white {
  color: #fff;
}
.blue {
  color: #1B3168;
}
.container {
  width: 1440px;
  margin: 0 auto;
}

.inputForm{
  display: flex;
  flex-direction: column;
}
input::placeholder{
  color: #1B3168;
}
footer input[type=submit]{
  padding: 7.5px 25.5px ;
  border-radius: 7px;
}
footer input[type=text]{
  padding: 7px 16px;
  padding: 7.5px 10px;
  border-radius: 7px;
}
.survey {
  background-color: #EFEDED;
}
.survey .body {
  padding: 12px 0 32px 0;
}
.survey .justify-start {
  margin: 0 0 12px 40px;
}
.survey .question {
  margin-bottom: 20px;
}
.survey h3 {
  padding: 18px 48px;
  font-size: 18px;
}
.survey .btn {
  background-color: #fff;
  padding: 8px 6px;
  color: #000000;
  font-size: 11px;
  width: 110px;
}
.survey .call-action {
  padding: 8px;
}
.presentation {
  background-color: #D9D9D9;
  padding: 14px;
}
.presentation h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
.presentation p:nth-child(2){
  margin-bottom: 8px;
}
.ad {
  background-color: #EFEDED;
  padding: 16px;
  margin-bottom: 28px;
}
.status {
  padding: 5px 20px;
  border-radius: 7px;
  font-size: 10px;
}
.ad .justify-start {
  gap: 8px;
  margin-bottom: 20px;
}
.ad:last-child{
  margin-bottom: 0;
}
.ad p:nth-child(4){
  margin-top: 20px;
}
#ads h4 {
  font-size: 30px;
  margin: 28px 0 20px 0;
}
.current-page {
  margin: 32px 0;
}
.tab h2 {
  color: #B6A886;
  font-size: 20px;
  margin-bottom: 18px;
}
.tab section {
  margin-bottom: 28px;
}
.tab .direction-column {
  gap: 12px;
  font-size: 14px;
}
.tab .information p {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 136%;
}
.tab .information p:nth-child(4){
  margin-bottom: 0;
}
.tab {
  width: 17.4%;
}
.main-content {
  width: 80.6%;
}
.array {
  margin-bottom: 40px;
}
.array .col {
  width: calc(100% / 4);
}
.array .justify-start {
  gap: 16px;
}
.array .header-array {
  margin-bottom: 12px;
}
.backoffice h1 {
  font-size: 30px;
  margin: 32px 0 64px 0;
}
.partnership {
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 80px;
}
.brand {
  position: relative;
  overflow: hidden;
}
.brand:hover .background {
  top: 0%;
  transition: 350ms;
}
.description {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 100%;
  right: 0;
  padding: 0 24px;
}
.brand .background {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.brand .detail {
  top: 25%;
}
.brand h4 {
  font-size: 24px;
  font-weight: bold;
}
.brand a {
  background-color: #fff;
  font-size: 14px;
  color: #000000;
  padding: 6px 10px;
  border-radius: 8px;
  font-weight: bold;
}
.brand p {
  margin: 12px 0 18px 0 ;
}
h3 {
  font-size: 30px;
  font-weight: 600;
  color: #B6A886;
  margin-bottom: 34px;
}
.case h4 {
  font-size: 20px;
  margin-top: 24px;
}
.case span {
  font-weight: bold;
  color: #1B3168;
  font-size: 16px;
}
.active {
  background-color: #B6A886;
}
.backoffice {
  height: 100vh;
}
.backoffice .background {
  height: 100vh;
}
.backoffice .background > .d-flex {
  gap: 152px;
  padding: 0px 0px;
}
.backoffice .background .white {
  gap: 40px;
}
.backoffice .background .white a:last-child {
  margin-top: 292px;
  font-weight: bold;
}
.backoffice a {
  padding: 0;
  font-size: 16px;
}
.backoffice a:hover {
  border-bottom: 1px solid #fff;
  transition: 400ms;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer h3 {
  font-size: 20px;
  margin-bottom: 18px;
}
footer h4 {
  font-size: 16px;
  font-weight: bold;
}
footer p {
  margin: 4px 0 12px 0;
}
footer .gap {
  gap: 227px;
  padding: 12px;
}
footer .gap a {
  font-size: 18px;
  margin-bottom: 12px;
}
footer .gap div .short-link {
  gap: 30px;
}