<header class="backoffice">
  <div class="background">
    <div class="d-flex direction-column">
      <img src="{{ asset('assets/logo.jpg') }}" alt="">
      <nav class="d-flex white direction-column align-start">
        <a href="/backoffice">Accueil</a>
        <a href="/content">Gestion Contenus</a>
        <a href="/partnership">Gestion Partenariats</a>
        <a href="/offers">Gestion Offres</a>
        <a href="/survey">Gestion Survey</a>
        <a href="/user">Gestion Administrateurs</a>
        <a href="/logout">Déconnexion</a>
      </nav>
    </div>
  </div>
</header>