<header>
  <div class="background">
    <div class="container">
      <div class="d-flex">
        <img src="{{ asset('assets/logo.jpg') }}" alt="">
        <nav class="d-flex white">
          <a href="/backoffice">Accueil</a>
          <a href="/backoffice">Gestion Contenus</a>
          <a href="/partnership">Gestion Partenariats</a>
          <a href="/ticketoffice">Gestion Offres</a>
          <a href="/survey">Gestion Sondage</a>
          <a href="/user">Gestion Administrateurs</a>
          <a href="/logout">Déconnexion</a>
        </nav>
      </div>
    </div>
  </div>
</header>