{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<style>
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 17px;
}

.btn{
  cursor: pointer;
  color: #1B3168;
  border: solid 2px #1B3168;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: white;
  font-size: 17px;
}
.btn:hover{
  background-color: #1B3168;
  color: white;
  border:  solid 2px #1B3168;;
}

input{
    width: 210px;   
    height: 30px;
    border-radius: 5px;
}

</style>


<form action="" method="post" >
    <h2 style="font-size: 28px" >Remplissez le formulaire ci-dessous pour nous contacter</h2>

    <label for="firstname">Votre prénom :</label>
    <input type="text" name="firstname">

    <label for="lastname">Votre nom :</label>
    <input type="text" name="lastname">

    <label for="email">Votre email :</label>
    <input type="email" name="email">

    <label for="message">Votre message :</label>
    <input style="height: 150px ;" type="textarea" name="message">

    <div class="buttons">
        <button class="btn" type="reset">Annuler</button>
        <button class="btn" type="submit">Envoyer</button>
    </div>

</form>

{% endblock %}
